@charset "UTF-8";

body {
    background-color: rgb(157, 236, 157);
    font-family: Arial, Helvetica, sans-serif;

}
h1 {
    color: darkgreen;
}
h1#principal {
    color: white;
    background-color: darkgreen;
    font-size: 3em;
    text-align: center;
    
}
h2 {
    color: green;
}
p {
    text-align: justify;
    text-indent: 13px;
}
h1.subtitulo {
    color: rgb(0, 43, 0);
}
h2.regulamento {
    color: rgb(214, 43, 43);
}
h2#quantostimes {
    color: blue;
}

