@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    
}
html,body {
    height: 100vh;
    width: 100vh;
    background-color: blue;
    font-family: Arial, Helvetica, sans-serif;
    background-size: contain;
    background-repeat: no-repeat;
}
h1 {
    color: white;
    padding: 10px;
}