@charset "UTF-8";

/*Mobile Forst*/

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}
body, html {
    background-color:lightgray;
}
header {
    background-color: grey;
}
header > h1 {
    padding: 10px;
    text-align: center;
}
#burguer {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    background-color: rgb(43, 42, 42);
}
#burguer:hover {
    background-color: rgba(0, 0, 0, 0.247);
    color: black;
    cursor: pointer;
}
menu {
    display: block;
}
menu li {
    list-style-type: none;
}
menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.329);
    background-color: rgb(88, 88, 88);
}
menu a:hover {
    background-color: gray;
}
main {
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px
}
article > h2 {
    padding-bottom: 8px;
}
article > p {
    padding: 4px;
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}